{%- style -%}
	.videoblock {
		height: 100%;
		position: relative;
	}
	.video-section-wrapper--small, .videoblock-small {
		min-height: 500px;
	}
	.video-section-wrapper--medium, .videoblock-medium {
		min-height: 650px;
	}
	.video-section-wrapper--large, .videoblock-large {
		min-height: 750px;
	}
	.fullscreen-video-wrap--full, .videoblock-full {
		min-height: 100vh;
	}
	.videoblock .fullscreen-video-wrap {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.videoblock .fullscreen-video-wrap .video-js {
		position: absolute;
		top: 0;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.videoblock .fullscreen-video-wrap video {
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
	}
	.videoblock .video__overlay {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.4);
	}
  .videoblock .hero-fixed-width__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50%;
    width: 100%;
  }
  .videoblock .hero-fixed-width__content .mega-title {
    text-transform: uppercase;
    color: white;
    font-size: clamp(2rem, 5vw, 3.4rem); 
    font-weight: 500;
  }
  .videoblock .hero-fixed-width__content .mega-subtitle {
    color: white;
    font-size: clamp(0.8rem, 5vw, 1.4rem); 
    padding:0 1rem 2rem 1rem;
  }
    .scrolldown {
		z-index: 2;
		position: absolute;
		right: 50%;
    bottom: 10%;
		display: inline-block;
	}
	.scrolldown span {
		width: 20px;
		height: 20px;
		display: block;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(45deg);
		margin: -10px;
		animation: animate 2s infinite;
	}
	.scrolldown span:nth-child(2) {
		animation-delay: -0.2s;
	}
	.scrolldown span:nth-child(3) {
		animation-delay: -0.4s;
	}
	@keyframes animate {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
			transform: rotate(45deg) translate(10px, 10px);
		}

		100% {
			opacity: 0;
		}
	}
{%- endstyle -%}

<div class="" data-section-id="{{ section.id }}" data-section-type="video-section">
	{%- if section.settings.page_width == 'fixed_width' -%}
    	<div class="page-width">
  	{%- endif -%}

		<div class="videoblock videoblock-{{ section.settings.height }}">
			{%- if section.settings.newvideo_link != blank -%}
				<div class="fullscreen-video-wrap
							fullscreen-video-wrap--{{ section.settings.height }}
							fullscreen-video-wrap--{{ section.id }}">
					<video class="video-js" loop autoplay preload muted playsinline
						poster="https:{{ section.settings.image | img_url: 'master' }}">
						<source src="{{ section.settings.newvideo_link }}" type="video/mp4">
						</source>
					</video>
				</div>

			{% elsif section.settings.image != blank %}
				<div class="video__image box ratio-container lazyload js"
					data-bgset="{% include 'bgset', image: section.settings.image %}"
					data-sizes="auto"
					data-parent-fit="contain"
					style="background-position: {{ section.settings.image_position }};"
					data-image-loading-animation>
				</div>

			{%- else -%}
				<div class="placeholder-background">
					{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
				</div>
			{%- endif -%}

			{%- if section.settings.show_overlay -%}<div class="video__overlay"></div>{%- endif -%}

			<div class="hero-fixed-width__content">
				<div class="page-width text-center">
					{%- if section.settings.video_title != blank -%}
						<h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.video_title | escape }}</h2>
					{%- endif -%}
					{%- if section.settings.text_description != blank -%}
						<div class="rte-setting mega-subtitle{% if section.settings.text_description_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text_description }}</div>
					{%- endif -%}
					{%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
						<a href="{{ section.settings.button_link }}" class="btn hero__btn">
							{{ section.settings.button_label | escape }}
						</a>
					{%- endif -%}
				</div>

				{%- if section.settings.show_scrolldown -%}

					<div class="scrolldown">
						<div class="scrollto">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>

				{%- endif -%}

			</div>
		</div>

	{%- if section.settings.page_width == 'fixed_width' -%}
    	</div>
  	{%- endif -%}
</div>

{% schema %}
{
  "name": {
    "cs": "Video",
    "da": "Video",
    "de": "Video",
    "en": "Video Background",
    "es": "Video",
    "fi": "Video",
    "fr": "Vidéo",
    "it": "Video",
    "ja": "動画",
    "ko": "동영상",
    "nb": "Video",
    "nl": "Video",
    "pl": "Film",
    "pt-BR": "Vídeo",
    "pt-PT": "Vídeo",
    "sv": "Video",
    "th": "วิดีโอ",
    "tr": "Video",
    "vi": "Video",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "class": "index-section video-section index-section--flush",
  "settings": [
	{
      "type": "select",
      "id": "page_width",
      "label": {
        "cs": "Velikost textu",
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Layout",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pl": "Rozmiar czcionki",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "tr": "Metin boyutu",
        "vi": "Cỡ văn bản",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "full_width",
      "options": [
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Full width",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnia",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "full_width"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Fixed width",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "fixed_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": {
        "cs": "Výška videa",
        "da": "Videohøjde",
        "de": "Videohöhe",
        "en": "Section height",
        "es": "Altura del video",
        "fi": "Videon korkeus",
        "fr": "Hauteur de la vidéo",
        "it": "Altezza video",
        "ja": "ビデオの高さ",
        "ko": "동영상 높이",
        "nb": "Videohøyde",
        "nl": "Videohoogte",
        "pl": "Wysokość filmu",
        "pt-BR": "Altura do vídeo",
        "pt-PT": "Altura do vídeo",
        "sv": "Bildhöjd",
        "th": "ความสูงของวิดีโอ",
        "tr": "Video yüksekliği",
        "vi": "Chiều cao video",
        "zh-CN": "视频高度",
        "zh-TW": "影片高度"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petit",
            "it": "Piccolo",
            "ja": "スモール",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mała",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyen",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnia",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Larga",
            "fi": "Suuri",
            "fr": "Grand",
            "it": "Grande",
            "ja": "ラージ",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Full screen",
            "es": "Larga",
            "fi": "Suuri",
            "fr": "Grand",
            "it": "Grande",
            "ja": "ラージ",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "full"
        }
      ]
    },
	{
      "type": "url",
      "id": "newvideo_link",
      "label": {
        "cs": "Odkaz na video",
        "da": "Videolink",
        "de": "Video-Link",
        "en": "Video link",
        "es": "Enlace de video",
        "fi": "Videolinkki",
        "fr": "Lien de la vidéo",
        "it": "Link video",
        "ja": "ビデオリンク",
        "ko": "동영상 링크",
        "nb": "Videokobling",
        "nl": "Videolink",
        "pl": "Link filmu",
        "pt-BR": "Link do vídeo",
        "pt-PT": "Ligação do vídeo",
        "sv": "Videolänk",
        "th": "ลิงก์วิดีโอ",
        "tr": "Video bağlantısı",
        "vi": "Liên kết video",
        "zh-CN": "视频链接",
        "zh-TW": "影片連結"
      }
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": {
        "cs": "Zobrazit překryv",
        "da": "Vis overlejring",
        "de": "Überlagerung zeigen",
        "en": "Show overlay",
        "es": "Mostrar superposición",
        "fi": "Näytä peittokuva",
        "fr": "Afficher la superposition",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "ko": "오버레이 표시",
        "nb": "Vis overlegg",
        "nl": "Overlay weergeven",
        "pl": "Pokaż nakładkę",
        "pt-BR": "Exibir sobreposição",
        "pt-PT": "Mostrar sobreposição",
        "sv": "Visa överlagring",
        "th": "แสดงการวางซ้อน",
        "tr": "Yer paylaşımını göster",
        "vi": "Hiển thị lớp phủ",
        "zh-CN": "显示叠加",
        "zh-TW": "顯示疊加層"
      },
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "cs": "Titulní obrázek",
        "da": "Coverbillede",
        "de": "Titelbild",
        "en": "Cover image",
        "es": "Imagen de portada",
        "fi": "Kansikuva",
        "fr": "Image de couverture",
        "it": "Immagine di copertina",
        "ja": "表紙画像",
        "ko": "커버 이미지",
        "nb": "Forsidebilde",
        "nl": "Coverafbeelding",
        "pl": "Obraz w tle",
        "pt-BR": "Imagem de capa",
        "pt-PT": "Imagem de capa",
        "sv": "Omslagsbild",
        "th": "รูปภาพหน้าปก",
        "tr": "Kapak görseli",
        "vi": "Ảnh bìa",
        "zh-CN": "封面图片",
        "zh-TW": "封面圖片"
      },
      "info": {
        "cs": "Vždy zobrazit na mobilních zařízeních",
        "da": "Vises altid på mobilenheder",
        "de": "Wird immer auf Mobilgeräten angezeigt",
        "en": "Always shown on mobile devices",
        "es": "Mostrar siempre dispositivos móviles",
        "fi": "Näytetään aina mobiililaitteissa",
        "fr": "S'affiche toujours sur les appareils mobiles",
        "it": "Sempre visualizzata sui dispositivi mobili",
        "ja": "常にモバイルデバイスに表示",
        "ko": "모바일 장치에 항상 표시됨",
        "nb": "Vises alltid på mobilenheter",
        "nl": "Altijd weergeven op mobiele apparaten",
        "pl": "Wyświetlane zawsze na urządzeniach mobilnych",
        "pt-BR": "Sempre exibida em dispositivos móveis",
        "pt-PT": "Sempre mostrado em dispositivos móveis",
        "sv": "Visas alltid på mobila enheter",
        "th": "แสดงบนอุปกรณ์มือถือเสมอ",
        "tr": "Mobil cihazlarda her zaman gösterilir",
        "vi": "Luôn hiển thị trên thiết bị di động",
        "zh-CN": "始终在移动设备上显示",
        "zh-TW": "一律在行動裝置上顯示"
      }
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "cs": "Zarovnání obrázku",
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fi": "Kuvan tasaus",
        "fr": "Alignement de l'image",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "ko": "이미지 정렬",
        "nb": "Bildejustering",
        "nl": "Afbeelding uitlijnen",
        "pl": "Wyrównanie obrazu",
        "pt-BR": "Alinhamento da imagem",
        "pt-PT": "Alinhamento da imagem",
        "sv": "Bildjustering",
        "th": "การจัดวางรูปภาพ",
        "tr": "Görsel hizalaması",
        "vi": "Căn chỉnh hình ảnh",
        "zh-CN": "图片对齐方式",
        "zh-TW": "圖片對齊"
      },
      "default": "center center",
      "options": [
        {
          "label": {
            "cs": "Nahoře doleva",
            "da": "Øverst til venstre",
            "de": "Oben links",
            "en": "Top left",
            "es": "Superior izquierda",
            "fi": "Ylhäällä vasemmalla",
            "fr": "En haut à gauche",
            "it": "In alto a sinistra",
            "ja": "左上",
            "ko": "왼쪽 상단",
            "nb": "Øverst til venstre",
            "nl": "Linksboven",
            "pl": "Na górze po lewej",
            "pt-BR": "Superior esquerdo",
            "pt-PT": "Canto superior esquerdo",
            "sv": "Överst till vänster",
            "th": "ซ้ายบน",
            "tr": "Üst sol",
            "vi": "Trên cùng bên trái",
            "zh-CN": "左上方",
            "zh-TW": "左上角"
          },
          "value": "left top"
        },
        {
          "label": {
            "cs": "Nahoře na střed",
            "da": "Øverst i midten",
            "de": "Oben Mitte",
            "en": "Top center",
            "es": "Superior centrada",
            "fi": "Keskellä ylhäällä",
            "fr": "En haut au centre",
            "it": "In alto al centro",
            "ja": "中央上",
            "ko": "맨 위 중간",
            "nb": "Toppsentrert",
            "nl": "Midden boven",
            "pl": "Na górze na środku",
            "pt-BR": "Superior centro",
            "pt-PT": "Superior centro",
            "sv": "Längst upp i mitten",
            "th": "กลางบน",
            "tr": "Üst orta",
            "vi": "Trên cùng ở giữa",
            "zh-CN": "顶部居中",
            "zh-TW": "中央上方"
          },
          "value": "center top"
        },
        {
          "label": {
            "cs": "Nahoře doprava",
            "da": "Øverst til højre",
            "de": "Oben rechts",
            "en": "Top right",
            "es": "Superior derecha",
            "fi": "Ylhäällä oikealla",
            "fr": "En haut à droite",
            "it": "In alto a destra",
            "ja": "右上",
            "ko": "오른쪽 상단",
            "nb": "Øverst til høyre",
            "nl": "Rechtsboven",
            "pl": "Na górze po prawej",
            "pt-BR": "Superior direito",
            "pt-PT": "Canto superior direito",
            "sv": "Överst till höger",
            "th": "ขวาบน",
            "tr": "Üst sağ",
            "vi": "Trên cùng bên phải",
            "zh-CN": "右上方",
            "zh-TW": "右上角"
          },
          "value": "right top"
        },
        {
          "label": {
            "cs": "Uprostřed doleva",
            "da": "Midt på til venstre",
            "de": "Mitte links",
            "en": "Middle left",
            "es": "Al medio a la izquierda",
            "fi": "Keskellä vasemmalla",
            "fr": "Au milieu à gauche",
            "it": "Nel mezzo a sinistra",
            "ja": "中央部左側",
            "ko": "왼쪽 중간",
            "nb": "Midt til venstre",
            "nl": "Midden links",
            "pl": "Na środku po lewej",
            "pt-BR": "Meio esquerdo",
            "pt-PT": "Intermédio à esquerda",
            "sv": "Mitten till vänster",
            "th": "ซ้ายกลาง",
            "tr": "Orta sol",
            "vi": "Ở giữa bên trái",
            "zh-CN": "中间居左",
            "zh-TW": "中央左方"
          },
          "value": "left center"
        },
        {
          "label": {
            "cs": "Uprostřed na střed",
            "da": "Midt på centreret",
            "de": "Mitte mittig",
            "en": "Middle center",
            "es": "Centrada en el medio",
            "fi": "Keskellä keskellä",
            "fr": "Centrée au milieu",
            "it": "In mezzo",
            "ja": "中心",
            "ko": "가운데 중간",
            "nb": "Midt i senter",
            "nl": "Midden centrum",
            "pl": "Na środku",
            "pt-BR": "Meio centro",
            "pt-PT": "Intermédio ao centro",
            "sv": "Mitten centrerat",
            "th": "กึ่งกลาง",
            "tr": "Orta kısmın ortası",
            "vi": "Chính giữa",
            "zh-CN": "中间居中",
            "zh-TW": "正中央"
          },
          "value": "center center"
        },
        {
          "label": {
            "cs": "Uprostřed doprava",
            "da": "Midt på til højre",
            "de": "Mitte rechts",
            "en": "Middle right",
            "es": "Centrado a la derecha",
            "fi": "Keskellä oikealla",
            "fr": "Au milieu à droite",
            "it": "Nel mezzo a destra",
            "ja": "中央部右側",
            "ko": "오른쪽 중간",
            "nb": "Midt til høyre",
            "nl": "Midden rechts",
            "pl": "Na środku po prawej",
            "pt-BR": "Meio direito",
            "pt-PT": "Intermédio à direita",
            "sv": "Mitten till höger",
            "th": "ขวากลาง",
            "tr": "Orta sağ",
            "vi": "Ở giữa bên phải",
            "zh-CN": "中间居右",
            "zh-TW": "中央右方"
          },
          "value": "right center"
        },
        {
          "label": {
            "cs": "Dole doleva",
            "da": "Nederst til venstre",
            "de": "Unten links",
            "en": "Bottom left",
            "es": "Inferior izquierda",
            "fi": "Alhaalla vasemmalla",
            "fr": "En bas à gauche",
            "it": "In basso a sinistra",
            "ja": "左下",
            "ko": "왼쪽 하단",
            "nb": "Nederst til venstre",
            "nl": "Linksonder",
            "pl": "Na dole po lewej",
            "pt-BR": "Inferior esquerdo",
            "pt-PT": "Canto inferior esquerdo",
            "sv": "Nere till vänster",
            "th": "ซ้ายล่าง",
            "tr": "Alt sol",
            "vi": "Dưới cùng bên trái",
            "zh-CN": "左下方",
            "zh-TW": "左下角"
          },
          "value": "left bottom"
        },
        {
          "label": {
            "cs": "Dole na střed",
            "da": "Nederst i midten",
            "de": "Unten mittig",
            "en": "Bottom center",
            "es": "Inferior centrada",
            "fi": "Keskellä alhaalla",
            "fr": "En bas au centre",
            "it": "In basso al centro",
            "ja": "中央下",
            "ko": "맨아래 중간",
            "nb": "Bunnsentrert",
            "nl": "Midden onder",
            "pl": "Na dole na środku",
            "pt-BR": "Inferior centro",
            "pt-PT": "Inferior centro",
            "sv": "Längst ner i mitten",
            "th": "กลางล่าง",
            "tr": "Alt orta",
            "vi": "Dưới cùng ở giữa",
            "zh-CN": "底部居中",
            "zh-TW": "中央下方"
          },
          "value": "center bottom"
        },
        {
          "label": {
            "cs": "Dole doprava",
            "da": "Nederst til højre",
            "de": "Unten rechts",
            "en": "Bottom right",
            "es": "Inferior derecha",
            "fi": "Alhaalla oikealla",
            "fr": "En bas à droite",
            "it": "In basso a destra",
            "ja": "右下",
            "ko": "오른쪽 아래",
            "nb": "Nederst til høyre",
            "nl": "Rechtsonder",
            "pl": "Na dole po prawej",
            "pt-BR": "Inferior direito",
            "pt-PT": "Canto inferior direito",
            "sv": "Nere till höger",
            "th": "ขวาล่าง",
            "tr": "Alt sağ",
            "vi": "Dưới cùng bên phải",
            "zh-CN": "右下方",
            "zh-TW": "右下角"
          },
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "text",
      "id": "video_title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
	  "default": {
        "en": "How To Add A Video Background On Shopify"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "cs": "Velikost textu",
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Heading size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pl": "Rozmiar czcionki",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "tr": "Metin boyutu",
        "vi": "Cỡ văn bản",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnia",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    },
	{
      "type": "richtext",
      "id": "text_description",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "cs": "<p>Informujte zákazníky prostřednictvím tohoto textu o své značce. Zároveň můžete popsat některý z produktů, oznámit důležité informace nebo přivítat zákazníky ve svém obchodě.</p>",
        "da": "<p>Brug denne tekst til at dele oplysninger om dit brand med dine kunder. Beskriv et produkt, del meddelelser, eller byd kunder velkommen til din butik.</p>",
        "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
        "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. Describe un producto, comparte anuncios o recibe clientes en tu tienda.</p>",
        "fi": "<p>Tämän tekstin avulla voit jakaa brändiäsi koskevia tietoja asiakkaille. Kuvaile tuotetta, jaa ilmoituksia tai toivota asiakkaat tervetulleiksi kauppaasi.</p>",
        "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>",
        "it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i tuoi clienti. Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
        "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</p>",
        "ko": "<p>이 텍스트를 사용하여 고객과 브랜드에 대한 정보를 공유하십시오. 제품 설명, 공지 사항 공유 또는 고객의 스토어 방문을 환영합니다.</p>",
        "nb": "<p>Bruk denne teksten for å dele informasjon om merkevaren med kundene dine. Beskriv et produkt, del kunngjøringer eller ønsk kunder velkommen til butikken din.</p>",
        "nl": "<p>Gebruik deze tekst om informatie over je merk te delen met je klanten. Beschrijf een product, deel aankondigingen of verwelkom klanten in je winkel.</p>",
        "pl": "<p>Użyj tego tekstu, aby udostępnić klientom informacje o swojej marce. Opisz produkt, udostępnij ogłoszenia lub przywitaj klientów w swoim sklepie.</p>",
        "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe novidades ou receba os clientes em sua loja.</p>",
        "pt-PT": "<p>Utilize este texto para partilhar informações sobre a sua marca com seus clientes. Descreva um produto, partilhe comunicados ou receba clientes na sua loja.</p>",
        "sv": "<p>Använd den här texten för att dela information om ditt varumärke med dina kunder. Beskriv en produkt, dela meddelanden eller välkomna kunder till din butik.</p>",
        "th": "<p>ใช้ข้อความนี้ในการแชร์ข้อมูลเกี่ยวกับแบรนด์ของคุณกับลูกค้าของคุณ อธิบายคุณสมบัติของสินค้า แชร์ประกาศ หรือต้อนรับลูกค้าสู่ร้านค้าของคุณ</p>",
        "tr": "<p>Müşterilerinizle markanız hakkında bilgi paylaşmak için bu metni kullanın. Ürün açıklaması girin, duyuru paylaşın veya mağazanıza gelen müşterileri karşılayın.</p>",
        "vi": "<p>Sử dụng văn bản này để chia sẻ thông tin về thương hiệu của bạn với khách hàng. Mô tả sản phẩm, chia sẻ thông báo hoặc chào mừng khách hàng tới cửa hàng của bạn.</p>",
        "zh-CN": "<p>使用此文本与您的客户分享有关您品牌的信息。描述产品、分享公告或欢迎客户访问您的商店。</p>",
        "zh-TW": "<p>您可以用這段文字和顧客分享品牌資訊、描述產品、分享公告，或歡迎顧客光臨您的商店。</p>"
      }
    },
    {
      "type": "select",
      "id": "text_description_size",
      "label": {
        "cs": "Velikost",
        "da": "Størrelse",
        "de": "Größe",
        "en": "Text Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pl": "Rozmiar",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "tr": "Boyut",
        "vi": "Cỡ",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnie",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    },
	{
		"type": "text",
		"id": "button_label",
		"label": {
		"cs": "Text tlačítka",
		"da": "Knaptekst",
		"de": "Button-Name",
		"en": "Button label",
		"es": "Etiqueta de botón",
		"fi": "Tekstipainike",
		"fr": "Texte du bouton",
		"it": "Etichetta pulsante",
		"ja": "ボタンのラベル",
		"ko": "버튼 레이블",
		"nb": "Knappetikett",
		"nl": "Knoplabel",
		"pl": "Przycisk z etykietą",
		"pt-BR": "Etiqueta de botão",
		"pt-PT": "Etiqueta do botão",
		"sv": "Knappetikett",
		"th": "ป้ายกำกับปุ่ม",
		"tr": "Düğme etiketi",
		"vi": "Nhãn nút",
		"zh-CN": "按钮标签",
		"zh-TW": "按鈕標籤"
		}
	},
	{
		"type": "url",
		"id": "button_link",
		"label": {
		"cs": "Tlačítkový odkaz",
		"da": "Knaplink",
		"de": "Button-Link",
		"en": "Button link",
		"es": "Enlace de la diapositiva",
		"fi": "Painikelinkki",
		"fr": "Lien du bouton",
		"it": "Link slide",
		"ja": "ボタンのリンク",
		"ko": "버튼 링크",
		"nb": "Kobling for knapp",
		"nl": "Knoplink",
		"pl": "Link przycisku",
		"pt-BR": "Link do slide",
		"pt-PT": "Ligação do botão",
		"sv": "Knapplänk",
		"th": "ลิงก์ปุ่ม",
		"tr": "Düğme bağlantısı",
		"vi": "Liên kết trên nút",
		"zh-CN": "按钮链接",
		"zh-TW": "按鈕連結"
		}
	},
	{
      "type": "checkbox",
      "id": "show_scrolldown",
      "label": {
        "cs": "Zobrazit překryv",
        "da": "Vis overlejring",
        "de": "Überlagerung zeigen",
        "en": "Show scrolldown",
        "es": "Mostrar superposición",
        "fi": "Näytä peittokuva",
        "fr": "Afficher la superposition",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "ko": "오버레이 표시",
        "nb": "Vis overlegg",
        "nl": "Overlay weergeven",
        "pl": "Pokaż nakładkę",
        "pt-BR": "Exibir sobreposição",
        "pt-PT": "Mostrar sobreposição",
        "sv": "Visa överlagring",
        "th": "แสดงการวางซ้อน",
        "tr": "Yer paylaşımını göster",
        "vi": "Hiển thị lớp phủ",
        "zh-CN": "显示叠加",
        "zh-TW": "顯示疊加層"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video Background",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video Background",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "settings": {
        "image_position": "center center",
        "show_overlay": true,
        "height": "medium"
      }
    }
  ]
}
{% endschema %}
